<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:3000');
    socket.on('send-client', msg => {
        document.getElementById('chat').innerHTML += msg;
    });

    const send = () => {
        const name = document.getElementById('name').value;
        const msg = document.getElementById('msg').value;
        socket.emit('send-server', {name: name, msg: msg});
        document.getElementById('msg').value = '';
        console.log(name);
    };
</script>

<header>
    <h2>Ntalk- Chat</h2>
</header>
<section>
    <pre id="chat"></pre>
    <input type="hidden" name="name" id="name" value="<%- user.name %>">
    <input type="text" name="msg" id="msg" placeholder="mensagem">
    <button onclick="send()">Enviar</button>
</section>
<% include ../exit %>
<% include ../footer %>