<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:3000');
    socket.on('send-client', msg => {
        document.getElementById('chat').innerHTML += msg;
    });

    const send = () => {
        const name = document.getElementById('name').value;
        const msg = document.getElementById('msg').value;
        socket.emit('send-server', {name: name, msg: msg});
        document.getElementById('msg').value = '';
        console.log(name);
    };

    document.addEventListener("keypress", function(e) {
        if(e.key === 'Enter') {
            const btn = document.querySelector("#btn-send");
            btn.click();
        }
    });
</script>

<header class="header text-center">
    <h2>Ntalk- Chat</h2>
</header>
<section class="chat-container">
    <div class="chat-display">
        <pre class="chat-messages" id="chat"></pre>
    </div>
    <div class="chat-actions">
        <input type="hidden" name="name" id="name" value="<%- user.name %>">
        <input type="text" name="msg" id="msg" placeholder="Digite sua mensagem">
        <button id="btn-send" onclick="send()">Enviar</button>
        <a href="/logout">Sair</a>
    </div>
</section>
<% include ../footer %>