<% include ../header %>
<div class="container">
    <div class="login-card">
        <header class="">
            <h1>Ntalk</h1>
            <h4>Bem-vindo!</h4>
        </header>
        <section>
            <form action="/login" method="post">
                <input type="text" name="name" placeholder="Seu nome">
                <br>
                <input type="text" name="email" placeholder="Seu e-mail">
                <br>
                <div class="button-align">
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </section>
    </div>
</div>
<% include ../footer %>